PUT /gitsearch
{
    "mappings" : {
        "codefile" : {
            "properties" : {
                "url" : {
                    "type" : "string",
                    "index" : "not_analyzed"
                },
                "fileBranches" : {
                    "properties" : {
                        "branchName": {
                            "type": "string",
                            "index": "not_analyzed"
                        }
                    }
                }
            }
        }
    }
}